<div class="flex flex-col">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Products" %>

  <h1 class="text-2xl mb-4">Products</h1>

  <div id="products" class="relative rounded-xl overflow-auto">
    <div class="shadow-sm overflow-hidden my-8">
      <div class="table-header-group">
        <div class="table-row">
          <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 text-black text-left">
            Name
          </div>
          <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 text-black text-left">
            Description
          </div>

          <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 text-black text-left">
            Category
          </div>

          <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 text-black text-left">
            Quantity
          </div>

          <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 text-black text-left">
            Price
          </div>

          <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 text-black text-left">
            Actions
          </div>
        </div>
      </div>
      <div class="table-row-group bg-white dark:bg-slate-800">
        <% @products.each do |product| %>
          <div class="table-row">
            <%= render product %>
            <div class="table-cell border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400">
              <%= link_to "Show product", product %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to "New product", new_product_path %>
</div>